body {
    font-family: Arial, sans-serif;
    background: #0a0a0a;
    padding: 30px;
    color: white;
  }
  .post {
    padding: 12px;
    background: rgb(249, 255, 238);
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  }

  .container {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    gap: 10px;
    justify-content: center;
  }
  
  p {
    color:aliceblue;
    font-size: 16px;
    max-width: 250px;
    overflow-wrap: break-word; 
  }

  .form-text {
    color: white;
  }

  button.btn a {
    color: #FFFFFF;
    text-decoration: none;
  }

  h2 {
    margin-right: 500px ;
  }

  .centered {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 60em
  }

  .form-select {
    margin: 10px 0px 20px 0px;
    width: 250px
  }